<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <style>.redcolor{color: crimson;} </style>
        <h1 class="my-4">AMiGO</h1>
        <div class="list-group">
          <a href="#" class="list-group-item redcolor">Толстовки</a>
          <a href="#" class="list-group-item">Спортивные костюмы</a>
          <a href="#" class="list-group-item">Бомберы</a>
        </div>
      </div>
      <div class="col-lg-9">
        <h1>About</h1>
        <h2>Лучшие вещи, которые только можно представить</h2>
      </div>
    </div>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>