<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <style>.redcolor{color: crimson;} </style>
          <h1 class="my-4">AMiGO</h1>
          <div class="list-group">
            <% const categories = [
              'Толстовки',
              'Спортивные костюмы',
              'Бомберы',
              'Трико',
              'Штаны'
              ] %>
              <% for (let i = 0; i < categories.length; i++) { %>
              <a href="#" class="list-group-item"><%= categories[i] %></a>
              <% } %>

          </div>
        </div>
          <div class="col-lg-9">
            <h1>Обратная связь</h1>
            <h2>Для наших постоянных клиентов мы проводим различные акции</h2>
          </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  </html>