<html>
<h1>Welcome!</h1>
<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<p>Create an account or login</p>
<a href="/users/register">Register</a>
<a href="/users/login"> Login</a>
<%- include('./partials/footer.ejs') %>
</html>